################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Buisness Layer/bin
/Buisness Layer/obj
/Connected_Users/bin
/Connected_Users/logs
/Connected_Users/obj
/DAL/bin
/DAL/obj
/Models/bin/Debug/netcoreapp2.2
/Models/obj
/TokenManager/bin/Debug/netstandard2.0
/TokenManager/obj
/.vs/Connected_Users/v15
/.vs/config
/.vs/Connected_Users/v15/Server/sqlite3
/.vs/Connected_Users/DesignTimeBuild
/Models/bin/Release/netcoreapp2.2
/TokenManager/bin
